# Self-signed certificates
*.pem

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# OS specific files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
